@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  margin: auto;
}

.testCarousel {
  position: absolute;
  color: red;
  font-weight: 700;
  height: 100vh;
  width: 100%;
  z-index: 20;
}
